//Написать программу, вычисляющую, с какой скоростью бегун пробежал дистанцию.
//Рекомендуемый вид экрана во время выполнения программы приведен ниже:
//
//Вычисление скорости бега
//Введите длину дистанции (метров) = 1000
//Введите время (мин.сек) = 3.25
//Дистанция: 1000 м
//Время: 3 мин 25 сек = 205 сек
//Вы бежали со скоростью 17.56 км/ч

#include <iostream>
#include <clocale>
using namespace std;
void main()
{
	setlocale (LC_CTYPE,"rus");

	int s, m;
	double t, sec, sp;

	cout << "Вычисление скорости бега \nВведите длинну дистанции (метров) = ";
	cin >> s;

	cout << "Введите время (мин.сек) = ";
	cin >> t;

	m = t;

	sec = m*60+(t-m)*100;
	cout << "Дистанция = " << s <<"\nВремя = " << sec << " сек";

	sp = s/sec*3.6;
	cout << "\nВы бежали со скоростью = " << sp << "км/ч\n";

	system ("pause");
}
